.class
**/build/*
livraison/doc/*
livraison/src/fightGame/dist/*
livraison/lib/*
livraison/src/gamePlayers/dist/*
livraison/dist/*
livraison/src/fightGame/lib/*
livraison/src/gamePlayers/lib/*
livraison/src/fightGame/lib/gamePlayers-0.1.jar
livraison/src/fightGame/lib/gamePlayers-0.1.jar
livraison/src/fightGame/lib/gamePlayers-0.1.jar
livraison/src/fightGame/log.txt
livraison/src/fightGame/log.txt
livraison/src/fightGame/gameSettings.xml
